div{
    text-align: center;
}
a{
    font-family:Comic Sans MS;
}
h1{
    style="margin-left: 1cm"Comic Sans MS;
    font-size:200%;
}
h2{
    font-family:Comic Sans MS;
    font-size:150%;
}
a:link    {color:pink; background-color:transparent;}
a:visited {color:purple; background-color:transparent}
a:hover   {color:green; background-color:transparent}
form {
    font-family:Herculanum;
    color:#404040;
    font-size:150%;
    text-align:center
}
input {
    width: 300px;
    height:35px;
    font-size:100%;
    font-family:Comic Sans MS;
}
input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 80px;
    height: 35px;
    font-family: Herculanum;
    font-size: 80%;
    background: #f4f4f4;
    vertical-align: middle;
}
